---
---
<main>
    <header>

    </header>
    <article>
        <hr />
        {% capture back_to_top %}
        <a href="#index">index</a>
        {% endcapture %}
        <ol>
            {% for siteItem in site %}<li>
                <details id="{{ siteItem }}">
                    <summary>{{ siteItem }}</summary>
                    {% if site[siteItem].first %}
                    <strong>siteItem has a first</strong>
                    {% if site[siteItem].first.name %}
                    <strong>First siteItem has name.</strong>
                    {% else %}
                    <ol>{% for thing in site[siteItem] %}
                        <li>                            
                            thing.name: {{ thing.name }}<br />

                            thing: {{ thing }}<br />
                        </li>
                        {% endfor %}</ol>
                    {% endif %}
                    {% endif %}
                    {% capture pre %}{{ site[siteItem] | inspect }}{% endcapture %}
                    {% include inspectDetails.html summary="Inspect" pre=pre %}
                </details>
            </li>{% endfor %}
        </ol>
        {% include inspectSiteData.html %}
        {{ back_to_top }}
        {% include inspectSitePages.html %}
        <!--
        <details>
            <summary>Site posts</summary>
            <pre>{{ site.posts | inspect }}</pre>
        </details>

        <details>
            <summary>Site static files</summary>
            <pre>{{ site.static_files | inspect }}</pre>
        </details>

        <details>
            <summary>Site catagories</summary>
            <pre>{{ site.categories | inspect }}</pre>
        </details>

        <details>
            <summary>Site collections</summary>
            <pre>{{ site.collections | inspect }}</pre>
        </details>

        <details>
            <summary>Site html pages</summary>
            <pre>{{ site.html_page | inspect }}</pre>
        </details>

        <details>
            <summary>Site documents</summary>
            <pre>{{ site.documents | inspect }}</pre>
        </details>

        <details>
            <summary>Time</summary>
            <pre>{{ site.time | inspect }}</pre>
        </details>

        <details>
            <summary>Site tags</summary>
            <pre>{{ site.tags | inspect }}</pre>
        </details>

        <details>
            <summary>Site related_posts</summary>
            <pre>{{ site.related_posts | inspect }}</pre>
        </details>

        <details>
            <summary>Site source</summary>
            <pre>{{ site.source | inspect }}</pre>
        </details>

        <details>
            <summary>Site destination</summary>
            <pre>{{ site.destination | inspect }}</pre>
        </details>

        <details>
            <summary>Site safe</summary>
            <pre>{{ site.safe | inspect }}</pre>
        </details>

        <details>
            <summary>Site include</summary>
            <pre>{{ site.include | inspect }}</pre>
        </details>

        <details>
            <summary>Site exclude</summary>
            <pre>{{ site.exclude | inspect }}</pre>
        </details>

        <details>
            <summary>Site keep files</summary>
            <pre>{{ site.keep_files | inspect }}</pre>
        </details>

        <details>
            <summary>Site encoding</summary>
            <pre>{{ site.encoding | inspect }}</pre>
        </details>
        {% include inspectDetails.html summary='Site markdown_ext' pre=site.markdown_ext %}
        {% include inspectDetails.html summary='Site strict_front_matter' pre=site.strict_front_matter %}
        {% include inspectDetails.html summary='Site show_drafts' pre=site.show_drafts %}
        {% include inspectDetails.html summary='Site limit_posts' pre=site.limit_posts %}
        {% include inspectDetails.html summary='Site future' pre=site.future %}
        {% include inspectDetails.html summary='Site unpublished' pre=site.unpublished %}
        {% include inspectDetails.html summary='Site whitelist' pre=site.whitelist %}
        {% include inspectDetails.html summary='Site plugins' pre=site.plugins %}
        {% include inspectDetails.html summary='Site markdown' pre=site.markdown %}
        {% include inspectDetails.html summary='Site highlighter' pre=site.highlighter %}
        {% include inspectDetails.html summary='Site lsi' pre=site.lsi %}
        {% include inspectDetails.html summary='Site excerpt_separator' pre=site.excerpt_separator %}
        <h4>TODO:</h4>
        <ol>
            <li>incremental</li>
            <li>incremental</li>
            <li>"detach": false,</li>
            <li>"port": "4000",</li>
            <li>"host": "127.0.0.1",</li>
            <li>"baseurl": "",</li>
            <li>"show_dir_listing": false,</li>
            <li>"permalink": "date",</li>
            <li>"paginate_path": "/page:num",</li>
            <li>"timezone": null,</li>
            <li>"quiet": false,</li>
            <li>"verbose": false,</li>
            <li>"defaults": [</li>
            <li>"liquid": {</li>
            <li>"rdiscount": {</li>

            <li>"redcarpet": {</li>
            <li>"kramdown": {</li>
            <li>"title": "BadQuanta's blog",</li>
            <li>"email": "BadQuanta@Gmail.com",</li>
            <li>"description": "Herein I collect my thoughts and journal them thoroughly.",</li>
            <li>"url": "http://localhost:4000",</li>
            <li>"github_username": "badquanta",</li>
            <li>"theme": "minima",</li>
            <li>"livereload_port": 35729,</li>
            <li>"serving": true,</li>
            <li>"watch": true</li>

        </ol>
        <details>
            <summary>Site markdown_ext</summary>
            <pre>{{ site.markdown_ext | inspect }}</pre>
        </details>



        <details>
            <summary>Site *_dir</summary>
            <dl>
                <dt>collections
                <dd>{{ site.collections_dir | inspect }}</dd>
                </dt>
                <dt>layout
                <dd>{{ site.layout_dir | inspect }}</dd>
                </dt>

                <dt>data
                <dd>{{ site.data_dir | inspect }}</dd>
                </dt>
                <dt>includes</dt>
                <dd>{{ site.includes_dir | inspect }}</dd>
            </dl>
        </details>
        <details>
            <summary>Inspect Source</summary>
            <pre>{{ site | inspect }}</pre>
        </details>
    -->
        <footer>
            <nav id="index">
                {% for siteItem in site %}
                <a href="#{{ siteItem }}">{{ siteItem }}</a>,
                {% endfor %}
            </nav>
        </footer>