---
layout: BARE
class: "" 
---
    <a class="skip-link" href="#maincontent">Skip to main</a>    
    <header>
        {% capture navigation %}
        {{ site.data.navigation }}
        {% endcapture %}
        {% include nav_listing.html list=navigation %}
    </header>
    <main id="maincontent">
    {{ content }}
    </main>
    <noscript>
        Huh, noscripts.
    </noscript>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/assets/TuiCss/tuicss.js"></script>
</body>

</html>